<div *ngIf="message != null" class="modal">
  <div *ngIf="message.type == 'confirm'" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" aria-label="Close" (click)="message.noFn()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{message.text}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="message.noFn()">No</button>
        <button type="button" class="btn btn-secondary" (click)="message.siFn()" class="btn btn-sc" >Yes</button>
      </div>
    </div>
  </div>
</div>