#top{
    overflow: hidden;
    position: fixed;
    z-index: 5;
    width: 100%
}

#left {
    margin-top:50px; 
    width: 20%;
    height: 100%;
    position: fixed;
    outline: 1px solid;   
}
#right {
    margin-top:50px; 
    width: 80%;
    height: auto;  
    position: absolute;
    right: 0; 
    overflow: auto;
}