<div class="nav">
  <ul>
    <li [routerLink]="['db', database,'query']" [class.active]="isActive('query')">Query</li>
    <li *ngIf="database" [routerLink]="['db', database,'measurements']"  [class.active]="isActive('measurements')">Measurements</li>
    <li *ngIf="database" [routerLink]="['db', database,'series']"  [class.active]="isActive('series')">Series</li>
    <li *ngIf="database" [routerLink]="['db', database,'cqueries']"  [class.active]="isActive('cqueries')">CQueries</li>
    <li *ngIf="database" [routerLink]="['db', database,'retention']"  [class.active]="isActive('retention')">Retention</li>
  </ul>
</div>