   
  .nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;    
    border-bottom: 1px solid #888;
    cursor: pointer;
  }
   
  .nav li {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav li:hover {
    background-color: #005f5f;
  }
   
  .nav li.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {     
      border-bottom: none;        
      font-size: 1em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {   
      margin-right: -4px;
    }
}