
<div class="nav">
  <ul>   
    <li *ngFor="let database of databases" [routerLink]="['db', database, type]"  [class.active]="isActive(database)">{{database}}</li>
  </ul>
  <div class="form-group">
    <textarea spellcheck="false" id="databaseTextArea" class="form-control" [(ngModel)]="dbName"
      placeholder="Database"></textarea>
      <button class="btn btn-primary" (click)="createDb()">Create</button>
  </div>
  
</div>


