.items{
    margin: 10px;
}

.card{
    background-color: rgb(218, 213, 213)
}

.card-header{
    background-color: rgb(218, 213, 213)
}

.delete{
    position: absolute;
    top: 10px;
    right: 12px;
}