<div class="items">  
  <div class="card">
    <div class="form-inline">
      <div class="input-group">
        <div class="input-group-addon">Search</div>
        <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search">
      </div>
      <div class="input-group" style="float:right">
        <div class="input-group-addon">Count</div>
        <input type="text" class="form-control" readonly="readonly" value="{{ count }}">
      </div>
      <div class="input-group" style="float:right">
        <button style="position:absolute; top:5px;" class="btn btn-primary btn-sm delete" (click)="deleteAll()">Delete ALL</button>
      </div>
    </div>
  </div>
  <div class="card" *ngFor="let item of items | fullTextSearch: search : 'name'">
    <div class="card-header" (click)="item.show = !item.show">
      <div>{{ item.name }}</div>     
    </div>
    <button class="btn btn-primary btn-sm delete" style="float:right" (click)="delete(item.name)">Delete</button>
    <div class="card-block" *ngIf="item.show">
      <div *ngIf="type !== 'measurements'">{{ getString(item) }}</div>
      <app-db-values *ngIf="type === 'measurements'" [table]="item.name" [samples]="database === 'samples'"></app-db-values>
      <button *ngIf="type === 'retention'" class="btn btn-primary btn-sm" (click)="default(item.name)">Default</button>
    </div>
  </div>
  <div *ngIf="type === 'retention'" class="card">
    <form class = "form-inline">
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input id="name" type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="rpName">
        </div>
        <div class="input-group">
            <div class="input-group-addon">Duration</div>
            <div>
            <input id="duration" type="number" class="form-control" name="duration" placeholder="duration"  [(ngModel)]="rpDuration">
            <select id="units" class="form-control" name="units" [(ngModel)]="rpDurationUnits">
                <option *ngFor="let c of rpDurations" [ngValue]="c">{{c.name}}</option>
            </select>    
             </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Replication</span>
          <select name="replication" class="form-control" id="replication"  [(ngModel)]="rpReplication">
              <option *ngFor="let c of rpReplications" [ngValue]="c">{{c.id}}</option>
          </select>            
        </div>
        <span class="form-control"><input name="isdefault" [(ngModel)]="rpDefault" type="checkbox"/>Default</span>
        <button type="submit" class="btn btn-default" style="float:right" (click)="createRp()">Create</button>
    </form>    
  </div>
</div>