<div class="item">
  <nav class="paging">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': paging.page === 0}">
        <a class="page-link" (click)="first()" tabindex="-1">First</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': paging.page === 0}">
        <a class="page-link" (click)="goTo(paging.page -1)" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" *ngIf="paging.page > 0">
        <a class="page-link" (click)="goTo(paging.page -1)">{{paging.page}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{paging.page + 1}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item" *ngIf="(paging.page + 1) * paging.count < paging.max ">
        <a class="page-link" (click)="goTo(paging.page + 1)">{{paging.page + 2}}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': (paging.page + 1) * paging.count > paging.max}">
        <a class="page-link" (click)="goTo(paging.page + 1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': (paging.page + 1) * paging.count > paging.max}">
          <a class="page-link" (click)="last()">Last</a>
        </li>
    </ul>
  </nav>
  <table class="table" *ngIf="!samples">
    <thead class="thead-inverse">
      <tr>
        <th>day</th>
        <th>time</th>
        <th>average</th>
        <th>count</th>
        <th>cv</th>
        <th>gain</th>
        <th>min</th>
        <th>max</th>
        <th>uniformity</th>
        <th>sigma</th>
        <th>sex</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td scope="row">{{item.day | number : '1.0-2' }}</td>
        <td>{{item.time | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
        <td>{{item.average}}</td>
        <td>{{item.count}}</td>
        <td>{{item.cv}}</td>
        <td>{{item.gain}}</td>
        <td>{{item.min}}</td>
        <td>{{item.max}}</td>
        <td>{{item.uniformity}}</td>
        <td>{{item.sigma}}</td>
        <td>{{item.sex}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="delete(item.time)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <table class="table" *ngIf="samples">
    <thead class="thead-inverse">
      <tr>        
        <th>time</th>
        <th>value</th>  
        <th>deviceid</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">       
        <td>{{item.time | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
        <td>{{item.value}}</td>
        <td>{{item.deviceid}}</td>      
        <td><button class="btn btn-primary btn-sm" (click)="delete(item.time)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>