<div>
  <div class="card">
    <div class="form-group">
      <textarea spellcheck="false" id="exampleTextarea" class="form-control" [(ngModel)]="query" (ngModelChange)="queryChange()"
        rows="6" placeholder="Query"></textarea>
    </div>
    <button class="btn btn-primary" (click)="clear()">Clear Query History</button>
    <div style="text-align:right">
      <button class="btn btn-primary" (click)="query = ''">Clear</button>
      <button class="btn btn-primary" (keydown.enter)="runQuery()" (click)="runQuery()">Run query</button>
    </div>
  </div>

  <div class="card" *ngFor="let qHistory of queryHistory">
    <div class="card-header" (click)="qHistory.show = !qHistory.show">
      <div style="float:left">{{qHistory.req}}</div>
      <div class="result-info" [style.background-color]="qHistory.res.results[0].error != null ? 'red' : 'green'"></div>
    </div>
    <div class="card-block" *ngIf="qHistory.show">
      <div>Date : {{ qHistory.timestamp | date: "dd.MM.yyyy HH:mm:ss" }}
        <span> Database : {{qHistory.database}}</span>
        <button class="btn btn-primary" style="float:right" (click)="qHistory.raw = !qHistory.raw">{{ qHistory.raw ? 'Hide' : 'Show' }} raw</button>
        <button class="btn btn-primary" style="float:right" (click)="query = qHistory.req">Copy</button>
        <button class="btn btn-primary" style="float:right" (click)="delete(qHistory)">Delete</button>
      </div>
      <div *ngIf="qHistory.raw">{{ getString(qHistory.res) }}</div>
      <div *ngIf="qHistory.res.results[0].series != null">
        <div *ngFor="let serie of qHistory.res.results[0].series">
          <div>
            {{getString(serie.tags)}}
          </div>
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th *ngFor="let v of serie.columns" [style.width.%]="(100/serie.columns.length)"> {{v}} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of serie.values">
                <td *ngFor="let v of val"> {{v}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>