.items{
    margin: 10px;
}

.card{
    background-color: rgb(218, 213, 213)
}

.card-header{
    background-color: rgb(218, 213, 213)
}

.result-info{
    position: absolute;
    top:0;
    right: 0;
    width: 20px;
    height:20px;
}